.func-table {
    background-color: #fff;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll; 
}

.func-table__thead {
    background-color: #F3F3F3;
    display: block;
    width: 100%;
    top: 0;
    position: sticky;

    :first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }
}

.func-table__tr {
    position: sticky;
    top: 0;
    :first {
        position: sticky;
        left: 0;
        z-index: 2;
        box-shadow: 1rem 0 0.5rem rgba(0, 0, 0, 0.1);
    }
}

.func-table__th {
   color: #808080;
   display: flex;
   justify-content: space-between;
   min-width: 23rem;
   padding: 0.3rem;
//    top: 0;
//    position: sticky;
//    z-index: 1;
}

.func-table__tbody {
    display: block;
    max-height: 50rem;
    max-width: 100%;
    // overflow-y: auto;

    td:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
        // box-shadow: 5rem 0 0.5rem rgba(0, 0, 0, 0.9);
    }
}

.func-table__td {
    min-width: 24rem;
    padding: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}



.exist {
    color: #00A0E3;
}

.func-table__filter {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.func-table__filter-clear {
    position: absolute;
    display: block;
    right: 0.8rem;
    width: 0.5rem;
    height: 1rem;
    color: #000000;
    font: 1rem monospace;
    cursor: pointer;
    z-index: 100;
}

.func-table__input {
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    width: 100%;
    border: solid 0.031rem #00a0e3;
    outline: none; 
    box-sizing: border-box;
}

.func-table__btns-group {
    display: inline-flex;
    justify-content: space-evenly;
}

.func-table__button {
    background-color: #00a0e3;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
}

.func-table__button-clear {
    background-color: #fff;
    color: #ED4E4E;
    border-radius: 0.25rem;
    border: solid 0.1rem #ED4E4E;

}

#filter {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
